<div style="max-width: 50%;margin-left: 25%">

<h2 class="page-header" >ALL USER SUMMARY</h2>

{{#each allusers}}
<span>{{this.name}}</span>  <span>{{this.username}}</span> <span>{{this.email}}</span>
<br>
<br>

{{/each}}

</div>

<style type="text/css">
  span{
    margin-right: 7%;
  }
</style>
